*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.cmt
*.inlining.org

# emacs
\#*
\.\#*

FuSe.html
html/*.html
html/style.css
docs/FuSe.pdf
decoder/lexer.ml
decoder/parser.ml
decoder/parser.mli
decoder/parser.output
bench/.ipynb_checkpoints

# executables
examples/*.opt
decoder/rosetta
examples/Tadder
examples/Tast
examples/Tchoices
examples/Tcounter
examples/Techo
examples/Tlist
examples/Tlock
examples/Tmath
examples/Toverlap
examples/Tpapermath
examples/TpapermathMonad
examples/TrecursiveEcho
examples/Tsubtyping
examples/Ttree
examples/Tunused
examples/Tweird
bench/*.opt
bench/bench
bench/bench_monad
